/*
  We will learn more about this but we want to 
  reset the browser's (user-agent's) default styles
  what styles you reset.

  https://canvas.instructure.com/courses/1147990/files/50430132
*/

html, body, div, span, h1, h2, h3, h4, h5, h6,
section, img, audio, video {
  margin: 0;
  padding: 0;
}

footer, header, section {
  display: block;
}

body {
  line-height: 1;
}

/* END RESET */

* {
  box-sizing: inherit;
}

a {
  color: #ff3300;
}

a:hover {
  color: #000000;
}

article {
  font-size: 0.8em;
  line-height: 1.5;
  padding: 0.5em;
  width: 90%;
  margin: 0 auto; /* center */
}

h1, h2, h3 {
  margin: 3px 0;
}

h1 {
  line-height: 1;
  margin-bottom: 10px;
}

h2 {
  font-size: 1em;
}

h3 {
  font-size: 0.7em;
}

.main-image {
  display: none;
  float: left;
  margin: 5px 20px 20px 0;
}

.main-image:hover {
  opacity: 0.8;
}

footer {
  clear: left;
}

/* 
  why overflow hidden here?? 
  http://stackoverflow.com/questions/710158/why-do-my-list-item-bullets-overlap-floating-elements
*/

ul {
  overflow: hidden;
}

ul li {
  line-height: 1.2;
}

p {
  line-height: 1.3;
}

@media (min-width: 469px) {
  h1 {
    font-size: 3em;
    margin-bottom: 20px;
  }

  h2 {
    font-size: 1.5em;
  }

  h3 {
    font-size: 1.17em;
  }

  article {
    font-size: 1em;
    padding: 1.5em;
    width: 80%;
  }

  .main-image {
    display: block;
  }
}