/*
  We will learn more about this but we want to 
  reset the browser's (user-agent's) default styles
  what styles you reset.

  https://canvas.instructure.com/courses/1147990/files/50430132
*/

html, body, div, span, h1, h2, h3, h4, h5, h6,
section, img, audio, video {
  margin: 0;
  padding: 0;
}

footer, header, section {
  display: block;
}

body {
  line-height: 1;
}
